* {
	font-family: $sans;
}

body {
	background-color: white;
	color: black;
	margin: 0;
	padding: 0;
	font-size: 1.2em;
}

a {
	text-decoration: none;

    &:active{
        color: black
    }

    &:visited{
        color: $purple;
    }
}

.container {
	display: flex;
    justify-content: center;
}



.main {
	display: flex;
	flex: 1;
	padding: 10px;
	flex-direction: column;
	justify-content: center;
	max-width: 80vw;
}

section{
    box-shadow: $shadow_x200;
    // border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 10px;
    margin: 10px 0;
}

.header,
.resumescanner {
	padding: 10px;
	margin: 10px;
}

.resumescanner {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-decoration: none;


    @include tablet{
        flex-direction: row;
    }

	&__item {
	    flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		background-color: white;
		border: 1px solid tint($purple, 90%);
		font-size: 1.1em;
		box-shadow: $shadow_x100;
		color: $purple;
		margin: 20px;
		padding: 50px;
		font-weight: bold;

		&:hover {
			box-shadow: $shadow_300;
		}
	}
}

.choice {
	display: flex;
	flex-direction: column;
}

.btn {
	flex: 1;
	background-color: white;
	color: $purple;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 1.1em;
	max-width: 50%;
	margin: 10px 0;
	border: 2px solid $purple;
}


.hidden {
	display: none;
}

.visible {
	display: block;
}

.spinner{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
}



.tablet {
	display: none !important;

	@include tablet {
		display: flex !important;
	}
}
