.resumeblock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;

    &__inner{
        display: flex;
        flex-direction: row;
        padding: 10px;

        &__text {
            color: #334756;
            font-size: 1em;
            margin: 10;
        }
    
        &__piechart {
            padding: 30px;
            max-width: 350px;
            box-shadow: $shadow-100;
        }
    }

	&__id {
		background-color: $minion_yellow;
		width: 100px;
		height: 100px;
		color: black !important;

		font-size: 1.8em;
		font-weight: bold;
		display: flex;
		justify-content: center;
		align-items: center;
		align-self: flex-end;
		border-radius: 50% 0px 50% 50%;
	}

	&__role {
		color: hotpink;
        font-size: 1.3em;
        padding: 0 10px;
	}

	
}



.controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .nextback{
        cursor: pointer;
        padding: 5px 10px;
        color: $white;
        background-color: $red;
    }
}